body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .word-container {
    margin-top: 50px;
  }
  
  h1 {
    font-size: 4em;
  }
  
  #word-display {
    color: black;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 10px;
  }
  
  /* Media Query for Mobile Devices */
  @media (max-width: 600px) {
    h1 {
      font-size: 2.5em;
    }
  
    button {
      font-size: 0.8em;
      padding: 8px 16px;
    }
  }
  